:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --alt-text-cl: #ffffff;
  --accent-cl: #2196f3;
  --color-border-header: #ececec;
  --color-border-portfolio: #eeeeee;
  --dark-bg: #2f303a;
  --second-bg: #f5f4fa;
  --logo-link-color: #000000;
  --team-icon-color: #afb1b8;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-shadow-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --bgc-icon-footer: rgba(255, 255, 255, 0.1);
  --gradient-hero: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --color-mail-phone: rgba(255, 255, 255, 0.6);
  --portfolio-item-gap: 30px;
  --shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --button-modal-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --main-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --emblem-font: "Raleway", sans-serif;
  --title-font: "Roboto", sans-serif;
  --border-input-email: rgba(255, 255, 255, 0.3);
  --color-modal-input-border: rgba(33, 33, 33, 0.2);
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--title-font);
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

h1,
h2,
h3,
p {
  margin: 0;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu-navigation {
  display: flex;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-3 {
  padding-bottom: 94px;
}
.section-footer {
  padding: 60px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.socials-list {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--accent-cl);
}
.font {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.dark-bg {
  background-color: var(--dark-bg);
}
.move-links {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-cl);
}
.emblem {
  font-family: var(--emblem-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}
.emblem-header {
  color: #000000;
}
.emblem-footer {
  color: var(--alt-text-cl);
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
}
.address {
  font-style: inherit;
}
.menu {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.btn {
  display: inline-block;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-cl);
  padding: 6px 22px;
  border: none;
  background-color: var(--second-bg);
  transition: background-color 250ms var(--main-cubic),
    color 250ms var(--main-cubic), box-shadow 250ms var(--main-cubic);
}
.btn:hover,
.btn:focus {
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
}
.hero {
  list-style: none;
  background-color: var(--dark-bg);
  background-image: linear-gradient(var(--gradient-hero)),
    url(../images/proffi-team-min.jpg);
  padding: 200px;
  text-align: center;
}
.btn-hero {
  display: inline-block;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.logo {
  margin-right: 95px;
  display: block;
}
.page-heder {
  border-bottom: 1px solid var(--color-border-header);
  padding-top: 24px;
  padding-bottom: 25px;
}
.page-heder .container {
  display: flex;
}

.page-title {
  margin-bottom: 30px;
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  white-space: pre;
  color: var(--alt-text-cl);
}
.title {
  font-family: var(--title-font);
  letter-spacing: 0.03em;
  color: var(--title-cl);
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}
.title-text {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.title-name {
  font-size: 16px;
  line-height: 1.19;
}
.title-portfolio {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-cl);
}
.title-label {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
}
.transparency {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 9px;
}
.map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alt-text-cl);
}

.address-footer {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.second-bg {
  padding-bottom: 94px;
  background-color: var(--second-bg);
}
.item {
  margin-left: 30px;
  margin-top: 30px;
}
.team-item {
  position: relative;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.team-name {
  flex-basis: calc((100% - 4 * 30px) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--card-shadow);
  background-color: var(--alt-text-cl);
}

.team-description {
  padding: 30px 32px;
}
.portfolio-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: var(--portfolio-item-gap);
  margin-top: var(--portfolio-item-gap);
  background-color: var(--alt-text-cl);
}
.portfolio-item:hover {
  box-shadow: var(--card-shadow-portfolio);
}
.portfolio-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-menu-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-menu-item:hover,
.portfolio-menu-item:focus {
  box-shadow: var(--shadow-button);
}
.portfolio-description {
  padding: 20px 24px;
  border-right: 1px solid var(--color-border-portfolio);
  border-left: 1px solid var(--color-border-portfolio);
  border-bottom: 1px solid var(--color-border-portfolio);
}
.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}
.social-icons-svg {
  width: 70px;
  height: 70px;
}
.shell-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--second-bg);
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.icon-item-footer:not(last-child) {
  margin-right: 10px;
}
.icon-item > .link-team-social {
  background-color: var(--bgc-icon-footer);
}
.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.link-team-social {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: var(--team-icon-color);
  justify-content: center;
  align-items: center;
}
.icon-social {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.link-team-social:hover .icon-social,
.link-team-social:focus .icon-social {
  fill: var(--alt-text-cl);
}
.link-team-social:hover,
.link-team-social:focus {
  background-color: var(--accent-cl);
}
.clients-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-left: -45px;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--team-icon-color);
  border-radius: 4px;
  color: var(--team-icon-color);
  white-space: nowrap;
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-cl);
}
.clients-logo {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.social-text {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alt-text-cl);
}
.footer-container {
  display: flex;
}
.footer-social {
  margin-left: 70px;
}
.bgcolor {
  background-color: var(--bgc-icon-footer);
}
.footer-mail,
.footer-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-mail-phone);
}
.work-text {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--alt-text-cl);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--alt-text-cl);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}
.close-modal-container {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: var(--alt-text-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.close-modal-container:hover {
  border-color: var(--alt-text-cl);
  color: var(--accent-cl);
}
.close-modal-container:hover.close-modal {
  fill: var(--accent-cl);
}

.close-modal {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb-overlay {
  position: relative;
  overflow: hidden;
}
.thumb-container-overlay:hover {
  opacity: 1;
}
.link-card:hover .thumb-container-overlay {
  transform: translateY(0);
}
.thumb-container-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--alt-text-cl);
}
.text {
  color: var(--main-text-cl);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: -32px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-cl);
  border-radius: 2px;
}
.current {
  color: var(--accent-cl);
  position: relative;
}
.subscribe {
  margin-left: auto;
}
.title-subscribe {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alt-text-cl);
}
.subscribe-form {
  position: relative;
  display: flex;
}
.input-email {
  padding: 15px 16px;
  min-width: 358px;
  color: var(--alt-text-cl);
  background-color: transparent;
  border: 1px solid var(--border-input-email);
  box-shadow: var(--button-modal-shadow);
  border-radius: 4px;
}
.subscribe-label {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}
.button-primary {
  display: inline-block;
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  align-items: center;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
}
.button-send {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--alt-text-cl);
  min-height: 50px;
  margin-left: 12px;
}
.icon-send {
  margin-left: 10px;
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-cl);
}
.list-modal {
  margin-bottom: 30px;
  list-style: none;
}
.list-modal__item {
  margin-bottom: 10px;
}
.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-cl);
}
.modal-input {
  padding: 11px 35px;
  border: 1px solid var(--color-modal-input-border);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--main-cubic);
  outline: none;
}
.modal-input:focus {
  border: 1px solid var(--accent-cl);
}
.modal-input:focus ~ .input-icon {
  fill: var(--accent-cl);
  border-color: var(--accent-cl);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms var(--main-cubic);
}
.agreement {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 1px solid var(--logo-link-color);
  margin-right: 8px;
  transition: background-color 250ms var(--main-cubic),
    border-color 250ms var(--main-cubic);
}
.checkbox:checked ~ * .checkbox-icon {
  opacity: 1;
}
.checkbox-icon {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  background-image: url(../images/check.svg);
  background-origin: border-box;
  background-size: 120%;
  background-position: center;
  opacity: 0;
  transition: opacity 250ms var(--main-cubic);
}
.checkbox:checked + .custom-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}
.link-agreement {
  color: var(--accent-cl);
  margin-left: 3px;
}
.button-modal {
  margin-left: 50%;
  margin-right: 50%;
  transform: translateX(-50%);
  transition: box-shadow 250ms var(--main-cubic);
}
